:root {
    --primary: #f8f9fa; /* Light gray */
    --secondary: #007bff; /* Blue */
    --text-color: #2b5176; /* Dark blue */
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary);
    color: var(--text-color);

  }

.pimage{
    /* border-radius: 35%; */
    object-fit: cover;
    margin: 10px;
    /* box-shadow: 0 0 10px rgba(66, 3, 224, 0.121); */
    transition:ease-in 10s;
}

h2{
    font-size: 2rem;
    margin-left: 2rem;
    margin-top:1.5rem;
    color: #2b5176;
    font-weight: bold;
}
p{
    font-size: 1.2rem;
    margin-left: 2rem;
    color: #2b5176
}
